torch==2.6.0
torchaudio==2.6.0
packaging
jinja2
openai-whisper
jsonlines
pandas
validators
sty
transformers
librosa
accelerate
aiohttp
colorama
omegaconf==2.3.0
sox
six==1.16.0
hyperpyyaml
conformer==0.3.2
diffusers
pillow
sentencepiece
easydict
fire
ujson
cairosvg
immutabledict
rich
wget
gdown
datasets
torchdyn==1.0.6
huggingface_hub
loguru
decord
blobfile
timm
sacrebleu==1.5.1
soundfile
tqdm
flash_attn==2.7.4.post1
deepspeed==0.16.9